<div ng-repeat="item in $ctrl.data">
  <div
    ng-class="{active: item.second === $ctrl.active}"
    ng-click="$ctrl.onSelect({ selection: item, active: item.second })"
    class='card'
  >
    <h2>{{item.display}}</h2>
    <h3>{{item.metric}}</h3>
  </div>
</div>

