<div ng-if="!$ctrl.data" class="card weather-card-error">
  <h1>City Unavailable</h1>
</div>
<div ng-if="$ctrl.data.cod === 200"
     class="card"
     ng-click="$ctrl.onSelect({ city: $ctrl.data.name, code:
  $ctrl.data.sys.country })">
  <div class="weather-card">
    <div class="temp-display">
      <h1>{{$ctrl.data.main.temp.toFixed(0)}}</h1>
      <div>
        <h4>&degC</h4>
      </div>
    </div>
    <h2 class="location">{{$ctrl.data.name}}</h2>
    <h2 class="info">{{$ctrl.data.weather[0].main}}</h2>
    <div class="wind-info">
        <div>
          <h1>
            {{$ctrl.data.wind.speed}}
          </h1>
          <div>
            <h4>m/s</h4>
          </div>
        </div>
        <h4>Wind Speed</h4>
    </div>
  </div>
</div>
