*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --bg-colour: #2C3E50;
  --main-colour: #7D8589;
  --sub-colour: #7D8589;
  --hover-colour: #E74C3C;
  --hover-text: #ecf0f1;
  --line-colour: #3498db;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: var(--main-colour);
  text-align: center;
  user-select: none;
  -moz-user-select: none;
}

h1 {
  font-size: 3rem;
}

h2, span {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.weather-wrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.full-page {
  width: 100vw;
  height: 100vh;
  background: var(--bg-colour);
  position: absolute;
  z-index: 400;
}

.full-page.ng-enter {
  top: 0;
  left: 110%;
  transition: all .5s ease-in;
}

.full-page.ng-enter.ng-enter-active {
  left: 0;
  position: absolute;
  transition: all .5s ease-in;
}

.full-page.ng-leave {
  left: 0;
  transition: all .5s ease-out;
}

.full-page.ng-leave.ng-leave-active {
  left: 110%;
  transition: all .5s ease-out;
}

.forecast-view {
  width: 100%;
  height: 100%;
}

.card {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-colour);
  box-shadow: 10px -10px 10px -10px hsla(0,0%,0%,.2);
  padding: 0 10%;
}

.card:hover,
.active {
  background: var(--hover-colour);
  transition: all .3s ease;
}
.card:hover h1,
.card:hover h2,
.card:hover h3,
.card:hover h4,
.card:hover span,
.active h2,
.active h3 {
  color: var(--hover-text);
  text-shadow: .5px .5px .5px #2980b9;
  transition: all .3s ease;
}


.weather-card-error {
  justify-content: center;
}

.weather-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-template-areas: 
    "temp location info wind";
  align-items: center;
  width: 100%;
}

.weather-card span {
  margin: 5px;
  color: var(--main-colour);
}

.temp-display,
.wind-info div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wind-info h4 {
  padding-right: 5%;
}

.temp-display {
  grid-area: temp;
}

.temp-display div,
.wind-info div {
  align-self: flex-start;
}

.location {
  grid-area: location;
}

.info {
  grid-area: info;
}

.wind-info {
  gird-area: wind;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-template-rows: .1fr 1fr;
  grid-gap: 0 5px;
  grid-template-areas: 
    "header header"
    "chart list";
  height: 100%;
}

.forecast-header {
  grid-area: header;
  background: var(--hover-colour);
  display: grid;
  grid-template-columns: .1fr 1fr;
  justify-items: center;
  align-items: center;
}

.forecast-header h2 {
  align-self: start;
  justify-self: start;
}

.back-button {
  cursor: pointer;
  padding: 12px 10px;
}

.forecast-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.forecast-header h1,
.forecast-header h2 {
  color: var(--hover-text);
  text-shadow: .5px .5px .5px #2980b9;
}

#lineChart {
  grid-area: chart;
  height: 100%;
  box-shadow: 10px -10px 10px -10px hsla(0,0%,0%,.2);
}

.line-wrapper {
  grid-area: list;
}

.line {
  fill: none;
  stroke: var(--line-colour);
  stroke-width: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--sub-colour);
  shape-rendering: crispEdges;
}

.axis text,
text {
  font-family: sans-serif;
  font-size: 11px;
  fill: var(--sub-colour);
}

text {
  fill: var(--hover-text);
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: var(--hover-text);
  stroke: var(--line-colour);
  stroke-width: 5px;
}

.hover-line {
  stroke: var(--sub-colour);
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}


@media(max-width: 980px) {
  html {
    font-size: 14px;
  }
}
@media(max-width: 481px) {
  html {
    font-size: 12px;
  }

  .weather-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
      "temp wind"
      "location info"
  }
  .forecast {
    grid-template-columns: 1fr; 
    grid-template-rows: .2fr 1fr 1fr;
    grid-template-areas: 
      "header"
      "chart";
      "list"
    height: 100%;
  }
}
