<div class="forecast-error" ng-if="!$ctrl.city">
  <h2 class="back-button" ng-click="$ctrl.onSelect()">X</h2>
  <h3>Forecast Data Unavailable</h3>
</div>
<div ng-if="$ctrl.city" class="forecast">
  <div class="forecast-header">
    <h2 class="back-button" ng-click="$ctrl.onSelect()">X</h2>
    <h1>5 Day forecast for {{$ctrl.city.city.name}}</h1>
  </div>
  <line-chart data="$ctrl.city.list" selection="$ctrl.selection"></line-chart>
  <div class="list-wrapper">
    <list data="$ctrl.selectionList" active="$ctrl.active" on-select="$ctrl.onClick(selection,
  active)"></list>
  </div>
</div>
