<div class="weather-wrapper">
  <div ng-if="$ctrl.displayForecast" class="full-page">
    <forecast-view city="$ctrl.selectedCity"
      on-select="$ctrl.toggleDisplayForecast()" class="forecast-view"></forecast-view>
  </div>
  <div ng-repeat="city in $ctrl.cities">
    <weather-card on-select="$ctrl.onClick(city, code)" data="city"></weather-card>
  </div>
</div>
